*{
    margin: 0;
    padding: 0;
}

.header1{
    padding: 1% 0%;

}
.navbar-light .navbar-nav .nav-link {
    color: #204f87;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10pt;
}

.navbar-light .navbar-brand {
    padding: 0%;
    min-height: 5.5vh;
}

.img-fluid {
    max-width: 100%;
}

.banner{
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 85vh;
    display: flex;
    align-items: center;
    position: relative;
}
.banner h1{
    font-size: 45pt;
    color: #ffffff;
    text-transform: uppercase;
}
.dropdown{
    position: absolute;
    left: 50%;
    top: 86%;
    transform: translate(-50%, 0px);
    animation: downkey 0.6s linear infinite;
    animation-direction: alternate;
}

.dropdown i{
    color: white;
    font-size: 120%;
}

@keyframes downkey{
    0%{
        top: 86%;
    }
    100%{
        top: 89%;
    }
}

.middle{
    padding-top: 8%;
    padding-bottom: 10%;
}
.wwr{
    align-items: center;
    justify-content: space-between;
}

.wwr .le h1{
    color: #204f87;
    padding: 2% 0%;
    font-size: 30pt;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.header1{
    padding: 1% 0%;

}
.navbar-light .navbar-nav .nav-link {
    color: #204f87;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10pt;
}

.navbar-light .navbar-brand {
    padding: 0%;
    min-height: 5.5vh;
}

.img-fluid {
    max-width: 100%;
}

.banner{
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 85vh;
    display: flex;
    align-items: center;
    position: relative;
}
.banner
    h1{
    font-size: 45pt;
    color: #ffffff;
    text-transform: uppercase;
}
.dropdown{
    position: absolute;
    left: 50%;
    top: 85%;
    transform: translate(-50%, 0px);
    animation: downkey 0.6s linear infinite;
    animation-direction: alternate;
}

.dropdown
    i{
    color: white;
    font-size: 120%;
}

@keyframes downkey{
    0%{
    top: 85%;
    }
    100%{
    top: 89%;
    }
}

.middle{
    padding-top: 7%;
    padding-bottom: 9%;
}
.wwr{
    align-items: center;
    justify-content: space-between;
}

.wwr .le
    h1{
    color: #204f87;
    padding: 2% 0%;
    font-size: 33pt;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.wwr .le
    p{
    color: #b0b0b1;
    font-size: 10.8pt;
    padding-top: 3%;
}
.le
    span{
    display: inline-block;
    width: 0;
    height: 7px;
    background: #f2622c;
    transition: 0.6s all ease-in-out;
}

.middle:hover .le
    span{
    width: 86px;
}


.wwd{
    background-color: #f7f8f8;
    padding: 5%;
    background-image: url(../images/what_we_do_banner.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 1007px;
}
.mheading
    span{
    display: inline-block;
    width: 0;
    height: 7px;
    background: #f2622c;
    transition: 0.4s all ease-in-out;
}
.wwd:hover .mheading span{
    width: 86px;
}
.mheading h1{
    color: #204f87;
    font-size: 32pt;
    font-weight: 600;
    padding: 1% 0% 2%;
    font-family: 'Montserrat', sans-serif;
}

.image{
    position: relative;
}

.image::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7f7bb0+0,2989d8+59,2989d8+59,2989d8+67,2f3485+100&0.2+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(127,123,176,0.2) 0%, rgba(41,137,216,0.67) 59%, rgba(41,137,216,0.73) 67%, rgba(47,52,133,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(127,123,176,0.2) 0%,rgba(41,137,216,0.67) 59%,rgba(41,137,216,0.73) 67%,rgba(47,52,133,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(127,123,176,0.2) 0%,rgba(41,137,216,0.67) 59%,rgba(41,137,216,0.73) 67%,rgba(47,52,133,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337f7bb0', endColorstr='#2f3485',GradientType=0 ); /* IE6-9 */
    transition: 0.4s all ease-in-out;
}


.image:hover::before{
    height: 100%;
}

.image .hq{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f7f8f8;
    text-align: center;
    min-width: 40vh;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}

.image .hq
    h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 19pt;
    font-weight: 600;
}

.image .longa{
    position: absolute;
    top: 72%;
    left: 45%;
    transform: translate(-50%);
    color: #f7f8f7;
    font-size: 45px;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}

.image:hover .hq{
    opacity: 1;
    top: 50%;   
}
.image:hover .longa{
    opacity: 1;
    left: 50%;   
}

.oura{
    padding: 10% 0%;
    background-image: url(../images/oura_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.oura:hover .le
    span{
    width: 86px;
}

.gheading{
    margin-top: 10%;
}

.gheading
    h1{
    color: #ffffff;
    FONT-WEIGHT: 600;
    font-size: 31pt;
    margin: 3% 0% 6%;
    font-family: 'Montserrat', sans-serif;
}

.gheading
    p{
    color: #929DCF;
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
}

.gheading
    h3{
    color: #f2622c;
    font-size: 18pt;
    margin-top: 14%;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.images2{
    position: relative;
}

.images2::before{
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 0;
    transition: 0.4s all ease-in-out;
}

.images2:hover::before{
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7f7bb0+0,2d2d08+48,1d4b9b+100&0+0,0+48,0.8+100 */
    background: -moz-linear-gradient(top,  rgba(127,123,176,0) 0%, rgba(45,45,8,0) 48%, rgba(29,75,155,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(127,123,176,0) 0%,rgba(45,45,8,0) 48%,rgba(29,75,155,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(127,123,176,0) 0%,rgba(45,45,8,0) 48%,rgba(29,75,155,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f7bb0', endColorstr='#cc1d4b9b',GradientType=0 ); /* IE6-9 */

}

.namea{
    position: absolute;
    top: 85%;
    left: 55%;
    transform: translate(-79%, -50%);
    color: #ffffff;
    min-width: 30vh;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}

.namea
    h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
}

.images2:hover .namea{
    opacity: 1;
    top: 82%;

}

.language :hover .mheading
    span{
    width: 86px;
}

.lang
    h3{
    color: #204f87;
    font-size: 21pt;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.lang
    p{
    color: #b0b0b1;
    font-size: 10.8pt;
    padding-top: 3%;
}

.lang
    h4{
    color: #f2622c;
    font-size: 14pt;
    margin-top: 10%;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.contact{
    background-color: #28377E;
    padding: 4% 0% 7%;
}

.contact :hover .mheading
    span{
    width: 86px;
}

.mheading .m2{
    color: #FFFFFF;
}
    footer{
    background-color: #0C1234;
}
    footer p{
    color: #929dcf;
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
    footer i{
    color: #B1B7DD;
    margin-left: 8%;
}

.footer1{
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formt{
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #ffffff;
}

.btn-primary {
    color: #fff;
    background-color: #F2622C;
    padding: 1.5% 12%;
    border-radius: 0;
    margin-left: 50%;
    transform: translate(-50%, 15px);
    font-size: 13pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.wwr .le p{
    color: #b0b0b1;
    font-size: 10.8pt;
    padding-top: 3%;
}
.le span{
    display: inline-block;
    width: 0;
    height: 7px;
    background: #f2622c;
    transition: 0.4s all ease-in-out;
}

.middle:hover .le span{
    width: 86px;
}


.wwd{
    background-color: #f7f8f8;
    padding: 5%;
    background-image: url(../images/what_we_do_banner.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 1007px;
}
.mheading span{
    display: inline-block;
    width: 0;
    height: 7px;
    background: #f2622c;
    transition: 0.4s all ease-in-out;
}
.wwd:hover .mheading span{
    width: 86px;
}
.mheading h1{
    color: #204f87;
    font-size: 32pt;
    font-weight: bold;
    padding: 1% 0% 2%;
    font-family: 'Montserrat', sans-serif;
}

.image{
    position: relative;
}

.image::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7f7bb0+0,2989d8+59,2989d8+59,2989d8+67,2f3485+100&0.2+0,1+100 */
    background: -moz-linear-gradient(top,  rgba(127,123,176,0.2) 0%, rgba(41,137,216,0.67) 59%, rgba(41,137,216,0.73) 67%, rgba(47,52,133,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(127,123,176,0.2) 0%,rgba(41,137,216,0.67) 59%,rgba(41,137,216,0.73) 67%,rgba(47,52,133,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(127,123,176,0.2) 0%,rgba(41,137,216,0.67) 59%,rgba(41,137,216,0.73) 67%,rgba(47,52,133,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337f7bb0', endColorstr='#2f3485',GradientType=0 ); /* IE6-9 */

    transition: 0.4s all ease-in-out;
}


.image:hover::before{
    height: 100%;
}

.image .hq{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f7f8f8;
    text-align: center;
    min-width: 40vh;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}

.image .hq h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 19pt;
}

.image .longa{
    position: absolute;
    top: 72%;
    left: 45%;
    transform: translate(-50%);
    color: #f7f8f7;
    font-size: 45px;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}

.image:hover .hq{
    opacity: 1;
    top: 50%;   
}
.image:hover .longa{
    opacity: 1;
    left: 50%;   
}

.oura{
    padding: 9% 0%;
    background-image: url(../images/oura_banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.oura:hover .le span{
    width: 86px;
}

.gheading{
    margin-top: 10%;
}

.gheading h1{
    color: #ffffff;
    FONT-WEIGHT: 600;
    font-size: 31pt;
    margin: 3% 0% 6%;
    font-family: 'Montserrat', sans-serif;
}

.gheading p{
    color: #929DCF;
    font-size: 11pt;
    font-family: 'Montserrat', sans-serif;
}

.gheading h3{
    color: #f2622c;
    font-size: 13pt;
    margin-top: 12%;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.images2{
    position: relative;
}

.images2::before{
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    height: 0;
    transition: 0.4s all ease-in-out;
}

.images2:hover::before{
    height: 100%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7f7bb0+0,2d2d08+48,1d4b9b+100&0+0,0+48,0.8+100 */
    background: -moz-linear-gradient(top,  rgba(127,123,176,0) 0%, rgba(45,45,8,0) 48%, rgba(29,75,155,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(127,123,176,0) 0%,rgba(45,45,8,0) 48%,rgba(29,75,155,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(127,123,176,0) 0%,rgba(45,45,8,0) 48%,rgba(29,75,155,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f7bb0', endColorstr='#cc1d4b9b',GradientType=0 ); /* IE6-9 */

}

.namea{
    position: absolute;
    top: 85%;
    left: 55%;
    transform: translate(-79%, -50%);
    color: #ffffff;
    min-width: 31vh;
    opacity: 0;
    transition: 0.4s all ease-in-out;
}

.namea h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 20pt;
    font-weight: 600;
}

.images2:hover .namea{
    opacity: 1;
    top: 82%;

}

.language :hover .mheading span{
    width: 86px;
}

.lang h3{
    color: #204f87;
    font-size: 21pt;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.lang p{
    color: #b0b0b1;
    font-size: 10.8pt;
    padding-top: 3%;
}

.lang h4{
    color: #f2622c;
    font-size: 14pt;
    margin-top: 10%;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.contact{
    background-color: #28377E;
    padding: 4% 0% 7%;
}

.contact :hover .mheading span{
    width: 86px;
}

.mheading .m2{
    color: #FFFFFF;
}

.contact form{
    text-align: center;
}

.contact form input{
    width: 100%;
    background: none;
    border: none;
    border-bottom: 1px solid #4759A7;
    caret-color: white;
    margin-top: 20px;
    font-size: 12pt;
    color: white;
    padding: 10px 0px;
}

.contact form input:focus-visible{
    outline: none;
}

.contact form input::placeholder{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

.contact form textarea::placeholder{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}


.contact form textarea:focus-visible{
    outline: none;
}
.contact form textarea{
    width: 100%;
    color: white;
    background: none;
    border: none;
    margin-top: 20px;
    border-bottom: 1px solid #4759A7;
    font-size: 12pt;
    caret-color: white;
}

.contact form input[type="submit"]{
    padding: 0.7% 0%;
    border: none;
    background: #F2622C;
    width: 35%;
    font-size: 14pt;
    color: white;
    margin-top: 7%;
    font-family: 'Montserrat', sans-serif;
}

footer{
    background-color: #0C1234;
}

footer p{
    color: #929dcf;
    font-size: 10pt;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

footer i{
    color: #B1B7DD;
    margin-left: 7%;
}

.footer1{
    padding: 3% 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
